<mat-nav-list *ngIf="navigationList$ | async as navigationList">
  <ng-container *ngFor="let listItem of navigationList">
    <span class="navigation__headline"
          *ngIf="listItem.isHeadline; else showMenuItem">{{ listItem?.label }}</span>
    <ng-template #showMenuItem>
      <div class="navigation__item">
        <div class="icon">
          <mat-icon class="navigation__listIcon" [svgIcon]="listItem?.icon ?? ''"></mat-icon>
        </div>
        <div class="link">
          <a mat-list-item class="nav-item">
            <span class="nav-item-text">{{listItem?.label}}</span>
          </a>
        </div>
      </div>
    </ng-template>
  </ng-container>
</mat-nav-list>
