<mat-nav-list *ngIf="navigationList$ | async as navigationList">
  <ng-container *ngFor="let listItem of navigationList">
    <span class="navigation__headline"
          *ngIf="listItem.isHeadline; else showMenuItem">{{ listItem?.label | uppercase }}</span>
    <ng-template #showMenuItem>
      <a mat-list-item [routerLink]="'/'+listItem?.path" routerLinkActive="is-active">
        <mat-icon class="navigation__icon" [svgIcon]="listItem?.icon ?? ''"></mat-icon>
        <span class="navigation__text">{{listItem?.label}}</span>
      </a>
    </ng-template>
  </ng-container>
</mat-nav-list>
