<mat-nav-list class="o-navigation__list" *ngIf="navigationList$ | async as navigationList">
  <ng-container *ngFor="let listItem of navigationList">
    <ng-container>
            <span class="o-navigation__headline"
                  *ngIf="listItem.isHeadline; else showMenuItem">{{ listItem?.label }}</span>
      <ng-template #showMenuItem>
        <ng-container>
<!--          <a mat-list-item [routerLink]="'/'+listItem?.path">-->
          <a mat-list-item>
            <mat-icon class="o-navigation__listIcon" [svgIcon]="listItem?.icon ?? ''"></mat-icon>
            {{ listItem?.label }}
          </a>
        </ng-container>
      </ng-template>
    </ng-container>
  </ng-container>
</mat-nav-list>
