@import "src/app/styles/variables.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
}

.navigation {
  &__headline {
    margin-left: 1.5rem;
    color: $gray-navigation-headline;
    font-size: 12px;
  }

  &__icon {
    color: white;
    margin-left: 2rem;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__text {
    color: white;
    margin-left: 0.5rem;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
  }
}

.defaultCard {
  box-shadow: 0 1px 5px 0 $dark-first-card-shadow, 0 2px 2px 0 $dark-second-card-shadow, 0 3px 1px -2px $dark-third-card-shadow;
  border-radius: 8px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  background-color: $blue-profile-section-background;

  &__logo {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    .avatar {
      margin-left: 1rem;
    }

    .slogan {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &__avatar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      margin-top: 0.75rem;
      color: white;
      font-size: 16px;
      font-weight: 400;
    }

    .email {
      margin-top: 0.5rem;
      color: $gray-profile-section-email;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__buttons {
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.nga-map {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #5dff00;

  &__leaflet {
    height: 66%;
  }

  &__blocks {
    background-color: #1976D2;
  }
}

.header {
  border-radius: 0;
  height: 4rem;
  background-color: white;

  display: flex;
  flex-direction: row;
}

