@import "src/app/styles/variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, serif; font-style: normal; line-height: 20px; }

.navigation {
  &__headline {
    margin-left: 1.5rem;
    color: $gray-navigation-headline;
    font-size: 12px;
    font-weight: 500;
  }

  &__icon {
    color: white;
    margin-left: 2rem;
    vertical-align: middle;
    margin-right: 5px;
  }

  &__text {
    color: white;
    margin-left: 0.5rem;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
  }
}
